@import url(../font/poppins.css);
@import url(../font/jost.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

.transitioned-color {
  transition: 0.2s ease-in-out color;
}

.transitioned-bg-color {
  transition: 0.2s ease-in-out background-color;
}

.cover {
  background-size: cover;
}

.main-btn {
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: #006ba6;
  font-size: 15px;
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  cursor: pointer;
  font-weight: bold;
}
.main-btn:hover {
  background-color: #4db0e1;
}

.jost {
  font-family: "jost";
}

.poppins {
  font-family: "poppins";
}

img {
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }
  .container .row {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 620px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
  .container .row {
    margin: auto;
  }
}
header {
  overflow: hidden;
  position: relative;
  height: 900px;
}
header nav {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}
header nav .icon img {
  width: 180px;
  height: auto;
}
header nav .content {
  display: flex;
}
header nav .content .item {
  margin-left: 100px;
}
header nav .content .item ul {
  display: flex;
  margin: 0;
  height: 100%;
  align-items: center;
}
header nav .content .item ul li {
  color: white;
  list-style: none;
  cursor: pointer;
}
header nav .content .item ul li:not(:last-child) {
  margin-right: 30px;
}
header nav .content .item ul li i {
  margin-left: 10px;
}
header nav .content .item ul li:nth-of-type(3) i, header nav .content .item ul li:nth-of-type(6) i {
  display: none;
}
header nav .content .button button {
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  outline: none;
  color: #223441;
  text-transform: capitalize;
  background-color: white;
  margin-left: 50px;
}
header nav .content .button button:hover {
  color: #4db0e1;
}
header nav .hid-icon {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
header nav .hid-icon .bar {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: 0.3s ease-in-out;
  transition-property: width, background-color;
}
header nav .hid-icon .bar:hover .bar {
  background-color: #223441;
  width: 100%;
}
header nav .hid-icon .bar:nth-of-type(2) {
  width: 40%;
}
header nav .hid-icon .bar:nth-of-type(3) {
  width: 60%;
}
header nav .hid-icon.active .bar {
  background-color: #223441;
  width: 100%;
}
header nav.active {
  background-color: white;
}
header nav.active .content .item ul li {
  color: #223441;
}
header nav.active .content button {
  background-color: #223441;
  color: white;
}
header nav.active .hid-icon .bar {
  background-color: #223441;
}
header .aside-section {
  width: 280px;
  height: 100vh;
  background-color: white;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(439.594px);
  transition: 0.5s ease-in-out;
  transition-property: transform;
}
header .aside-section .wave {
  height: 100%;
  width: 57%;
  position: absolute;
  left: -159px;
  top: 0;
  background-image: url(../images/header/aside-wave-white.png);
}
header .aside-section i {
  font-size: 250px;
  color: rgba(77, 176, 225, 0.25);
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
header .aside-section ul {
  margin: 0;
}
header .aside-section ul li {
  color: #223441;
  list-style: none;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 15px 0;
  font-weight: bolder;
  text-transform: uppercase;
}
header .aside-section ul li:hover {
  color: #4db0e1;
}
header .overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  top: 0;
  z-index: 4;
  opacity: 0;
}
header .header {
  position: relative;
  height: 100%;
  background-image: url(../images/header/header-01.jpg);
  display: flex;
  align-items: flex-end;
}
header .header .wave {
  position: absolute;
  bottom: 0px;
  background-image: url(../images/header/wave.svg);
  width: 100%;
  height: 350px;
  z-index: 3;
}
header .header .content {
  display: flex;
  width: 100%;
  margin-bottom: 150px;
}
header .header .content .bord {
  width: 50%;
}
header .header .content .txt {
  color: white;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}
header .header .content .txt h1 {
  font-weight: bolder;
  font-size: 55px;
  line-height: 1;
  margin-bottom: 20px;
}
header .header .content .txt p {
  width: 92%;
  font-size: 16px;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  header nav .row {
    justify-content: space-between;
    align-items: center;
  }
  header nav .row .content {
    display: none;
  }
  header nav .row .hid-icon {
    display: flex;
  }
  header .header .content .txt h1 {
    font-size: 40px;
  }
  header .header .content .txt p {
    width: 80%;
  }
}
@media (max-width: 992px) {
  header .header {
    height: 100%;
  }
  header .header .content .txt {
    padding: 0 0 150px 0;
    width: 45%;
  }
  header .header .content .txt h1 {
    font-size: 37px;
  }
  header .header .content .img {
    width: 55%;
  }
}
@media (max-width: 768px) {
  header {
    min-height: 800px;
  }
  header .header .content {
    flex-direction: column;
    margin-bottom: 70px;
  }
  header .header .content .bord {
    width: 100%;
  }
  header .header .content .txt {
    padding: 0;
  }
  header .header .content .img {
    height: 407px;
    width: 400px;
    margin: auto;
  }
  header .header .wave {
    height: 170px;
  }
}
@media (max-width: 420px) {
  header {
    min-height: 830px;
    height: 830px;
  }
  header .header .content {
    margin-bottom: 60px;
  }
  header .header .content .txt {
    margin-bottom: 30px;
  }
  header .header .content .txt h1 {
    font-size: 27px;
  }
  header .header .content .txt p {
    width: 75%;
    font-size: 12px;
  }
  header .header .content .img {
    width: 100%;
    height: auto;
  }
  header .aside-section {
    width: 230px;
  }
  header .aside-section .wave {
    left: -130px;
  }
}
.about > div:not(:last-child) {
  margin-bottom: 250px;
}
.about .top .content {
  display: flex;
}
.about .top .content .bord {
  width: 50%;
}
.about .top .content .txt {
  padding-top: 60px;
}
.about .top .content .txt h1, .about .top .content .txt p {
  margin-bottom: 40px;
}
.about .top .content .txt h1 {
  font-family: "jost";
  font-weight: bolder;
  font-size: 33px;
  text-transform: none;
  color: #223441;
}
.about .top .content .txt p {
  color: #777777;
  font-size: 15px;
}
.about .mid .content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about .mid .content h1 {
  font-weight: bolder;
  font-size: 36px;
  color: #223441;
  text-transform: none;
  margin-bottom: 40px;
  width: 50%;
}
.about .mid .content .section {
  display: flex;
  justify-content: space-between;
}
.about .mid .content .section .parent {
  width: 50%;
  height: auto;
}
.about .mid .content .section .txt .flexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  min-height: 390px;
  gap: 0 30px;
}
.about .mid .content .section .txt .flexBox .bord {
  width: 45%;
  height: 45%;
}
.about .mid .content .section .txt .flexBox .bord img {
  width: 60px;
  margin-bottom: 20px;
}
.about .mid .content .section .txt .flexBox .bord h3 {
  font-weight: bolder;
  text-transform: none;
  color: #223441;
  font-size: 24px;
}
.about .mid .content .section .txt .flexBox .bord h3::first-letter {
  text-transform: capitalize;
}
.about .mid .content .section .txt .flexBox .bord p {
  color: #777777;
  font-size: 14px;
}
.about .bot .content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about .bot .content h1 {
  font-size: 50px;
  font-weight: bolder;
  text-transform: none;
  color: #223441;
  margin-bottom: 15px;
}
.about .bot .content > p {
  width: 50%;
  text-align: center;
  color: #777777;
}
.about .bot .content .flexContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.about .bot .content .flexContent .flexIcons {
  margin: 50px 0;
  display: flex;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.about .bot .content .flexContent .flexIcons .icon {
  width: 20%;
  height: 150px;
  border: 1px solid #e3e3e3;
  padding: 33.3333333333px 0;
  cursor: pointer;
}
.about .bot .content .flexContent .flexIcons .icon img {
  width: 50px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 14px;
  display: block;
}
.about .bot .content .flexContent .flexIcons .icon p {
  text-align: center;
  margin: 0;
  font-weight: bolder;
  font-size: 16px;
  color: #4db0e1;
}
.about .bot .content .flexContent .flexIcons .icon:nth-of-type(1) {
  padding: 28px 0;
}
.about .bot .content .flexContent .flexIcons .icon:nth-of-type(1) img {
  width: 40px;
  height: 55px;
  margin-bottom: 15px;
}
.about .bot .content .flexContent .flexIcons .icon.active {
  background-image: linear-gradient(90deg, #006ba6, #4db0e1);
  border: none;
}
.about .bot .content .flexContent .flexIcons .icon.active img {
  filter: brightness(0) invert(1);
}
.about .bot .content .flexContent .flexIcons .icon.active p {
  color: white;
}
.about .bot .content .flexContent .flexBox {
  position: relative;
  width: 100%;
}
.about .bot .content .flexContent .flexBox .bord {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  display: none;
}
.about .bot .content .flexContent .flexBox .bord .txt {
  width: 60%;
  align-self: center;
}
.about .bot .content .flexContent .flexBox .bord .txt h3, .about .bot .content .flexContent .flexBox .bord .txt p {
  margin-bottom: 30px;
}
.about .bot .content .flexContent .flexBox .bord .txt h3 {
  font-weight: bolder;
  color: #223441;
  font-size: 28px;
}
.about .bot .content .flexContent .flexBox .bord .txt p {
  color: #777777;
  font-size: 16px;
}
.about .bot .content .flexContent .flexBox .bord .img {
  width: 30%;
}
.about .bot .content .flexContent .flexBox .bord.active {
  display: flex;
}

@media (max-width: 1200px) {
  .about .mid .content h1 {
    width: 60%;
  }
  .about .mid .content .section .img {
    width: 40%;
  }
}
@media (max-width: 992px) {
  .about .top .content .img {
    width: 50%;
  }
  .about .top .content .txt h1 {
    font-size: 30px;
  }
  .about .mid .content h1 {
    font-size: 33px;
    width: 90%;
  }
  .about .mid .content .section .txt {
    width: 40%;
    margin: 0;
  }
  .about .mid .content .section .txt .flexBox {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .about .mid .content .section .txt .flexBox .bord {
    width: 100%;
  }
  .about .mid .content .section .txt .flexBox .bord:not(:last-child) {
    margin-bottom: 10px;
  }
  .about .mid .content .section .img {
    width: 55%;
    align-self: center;
  }
  .about .bot .content h1 {
    font-size: 40px;
    text-align: center;
  }
  .about .bot .content .flexContent {
    width: 80%;
  }
  .about .bot .content .flexContent .flexIcons .icon {
    height: auto;
    padding: 20px 0;
  }
  .about .bot .content .flexContent .flexIcons .icon img {
    width: 40px;
    margin-bottom: 15px;
  }
  .about .bot .content .flexContent .flexIcons .icon p {
    font-size: 14px;
  }
  .about .bot .content .flexContent .flexIcons .icon:nth-of-type(1) {
    padding-top: 14px;
  }
  .about .bot .content .flexContent .flexIcons .icon:nth-of-type(1) img {
    width: 35px;
    height: 45px;
  }
  .about .bot .content .flexContent .flexBox .bord .img {
    width: 25%;
  }
  .about .bot .content .flexContent .flexBox .bord .txt {
    align-self: stretch;
    width: 65%;
  }
}
@media (max-width: 768px) {
  .about > div:not(:last-child) {
    margin-bottom: 150px;
  }
  .about .top .content {
    flex-direction: column;
    align-items: center;
  }
  .about .top .content .bord {
    width: 100%;
  }
  .about .top .content .img {
    max-width: 400px;
    margin-bottom: 40px;
  }
  .about .top .content .txt {
    padding: 0;
  }
  .about .top .content .txt h1, .about .top .content .txt p {
    margin-bottom: 25px;
  }
  .about .mid .content .section {
    flex-direction: column-reverse;
  }
  .about .mid .content .section .img {
    max-width: 100%;
    width: 85%;
    margin-bottom: 60px;
  }
  .about .mid .content .section .txt {
    width: 100%;
  }
  .about .mid .content .section .txt .flexBox {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .about .mid .content .section .txt .flexBox .bord {
    width: 45%;
  }
  .about .bot .content .flexContent {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 60px;
  }
  .about .bot .content .flexContent .flexIcons {
    flex-direction: column;
    max-width: 150px;
    margin: 0;
  }
  .about .bot .content .flexContent .flexIcons .icon {
    width: 100%;
  }
  .about .bot .content .flexContent .flexBox {
    width: 60%;
    height: auto;
  }
  .about .bot .content .flexContent .flexBox .bord {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .about .bot .content .flexContent .flexBox .bord .img {
    width: 45%;
    margin-bottom: 50px;
  }
  .about .bot .content .flexContent .flexBox .bord .txt {
    margin: 0;
    width: 100%;
  }
  .about .bot .content .flexContent .flexBox .bord .txt p {
    font-size: 14px;
  }
  .about .bot .content .flexContent .flexBox .bord .txt h3 {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .about .mid .content h1 {
    width: 100%;
    font-size: 28px;
  }
  .about .mid .content .section .txt .flexBox {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .about .mid .content .section .txt .flexBox .bord {
    width: 100%;
  }
  .about .bot .content h1 {
    font-size: 28px;
  }
  .about .bot .content > p {
    width: 80%;
  }
  .about .bot .content .flexContent {
    justify-content: space-between;
    min-height: auto;
    height: auto;
    width: 100%;
    flex-direction: column;
  }
  .about .bot .content .flexContent .flexIcons {
    width: 100%;
    flex-direction: row;
    max-width: none;
    margin-bottom: 50px;
  }
  .about .bot .content .flexContent .flexIcons .icon {
    width: 20%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .about .bot .content .flexContent .flexIcons .icon p {
    display: none;
  }
  .about .bot .content .flexContent .flexIcons .icon img {
    margin: 0;
  }
  .about .bot .content .flexContent .flexIcons .icon:nth-of-type(1) {
    padding: 0;
  }
  .about .bot .content .flexContent .flexIcons .icon:nth-of-type(1) img {
    margin: 0;
  }
  .about .bot .content .flexContent .flexBox {
    min-height: 650px;
    width: 100%;
  }
  .about .bot .content .flexContent .flexBox .bord .img {
    margin-bottom: 15px;
  }
}
@media (max-width: 420px) {
  .about .top .content .txt h1, .about .top .content .txt p {
    margin-bottom: 20px;
  }
  .about .top .content .txt h1 {
    font-size: 25px;
  }
  .about .top .content .txt p {
    font-size: 13px;
  }
  .about .bot .content .flexContent .flexIcons .icon {
    height: 80px;
  }
  .about .bot .content .flexContent .flexIcons .icon img {
    width: 34px;
    height: 30px;
  }
  .about .bot .content .flexContent .flexIcons .icon:nth-of-type(1) img {
    width: 30px;
    height: 40px;
  }
  .about .bot .content .flexContent .flexBox {
    min-height: 550px;
  }
}
.services {
  position: relative;
  height: 1300px;
  background-image: url(../images/services/services.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.services .wave {
  position: absolute;
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
}
.services .wave.head {
  top: -1px;
  background-image: url(../images/services/wave-1.png);
}
.services .wave.foot {
  bottom: -1px;
  background-image: url(../images/services/wave-2.png);
}
.services .floatImg {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/services/txt.png);
  background-size: cover;
  width: 605px;
  height: 130px;
}
.services .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  width: 100%;
  min-height: 500px;
}
.services .content .txt {
  text-align: center;
  margin-bottom: 30px;
}
.services .content .txt h3 {
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 20px;
}
.services .content .txt p {
  font-weight: 400;
  font-size: 16px;
}
.services .content .flexBox {
  display: flex;
  justify-content: space-between;
  height: 280px;
  width: 100%;
  margin-bottom: 50px;
}
.services .content .flexBox .bord {
  width: 31.3333333333%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  color: #223441;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services .content .flexBox .bord .img, .services .content .flexBox .bord h3 {
  margin-bottom: 10px;
}
.services .content .flexBox .bord .img {
  width: 100px;
  height: 100px;
  transition: 0.2s ease-in-out transform;
  margin-bottom: 25px;
}
.services .content .flexBox .bord h3 {
  font-weight: bolder;
  font-size: 23px;
}
.services .content .flexBox .bord p {
  width: 70%;
  text-align: center;
  color: #777777;
  text-transform: none;
  margin: 0;
}
.services .content .flexBox .bord:hover .img {
  transform: scale(1.1);
}
.services .content .flexBox .bord:hover h3 {
  color: #4db0e1;
}

@media (max-width: 992px) {
  .services .content .flexBox {
    max-height: 230px;
  }
  .services .content .flexBox .bord .img {
    width: 70px;
    height: 70px;
  }
  .services .content .flexBox .bord h3 {
    font-size: 20px;
  }
  .services .content .flexBox .bord p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .services {
    min-height: 1300px;
    height: auto;
  }
  .services .floatImg {
    width: 420px;
    height: 90px;
    top: 18.5%;
  }
  .services .wave {
    height: 200px;
  }
  .services .content {
    margin-top: 95px;
  }
  .services .content .flexBox {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: none;
    height: 500px;
  }
  .services .content .flexBox .bord {
    width: 45%;
    height: 45%;
  }
  .services .content .flexBox .bord:first-child {
    margin-right: 30px;
  }
}
@media (max-width: 576px) {
  .services {
    min-height: 1400px;
  }
  .services .floatImg {
    top: 11%;
    width: 245px;
    height: 53px;
  }
  .services .wave {
    height: 100px;
  }
  .services .content .txt h3 {
    font-size: 23px;
  }
  .services .content .txt p {
    font-size: 12px;
  }
  .services .content .flexBox {
    flex-wrap: nowrap;
    flex-direction: column;
    height: auto;
  }
  .services .content .flexBox .bord {
    width: 100%;
    height: 250px;
  }
  .services .content .flexBox .bord:first-child {
    margin: 0;
  }
  .services .content .flexBox .bord:not(:last-child) {
    margin-bottom: 20px;
  }
}
.products .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products .content > .txt {
  margin-bottom: 80px;
}
.products .content > .txt h2 {
  margin: 0;
  font-weight: bolder;
  color: #223441;
  font-size: 35px;
}
.products .content .flexBox {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 60px 15px;
}
.products .content .flexBox .bord {
  width: 32.3333333333%;
  position: relative;
}
.products .content .flexBox .bord .img {
  height: auto;
}
.products .content .flexBox .bord .img img {
  transition: 0.3s ease-in-out transform;
}
.products .content .flexBox .bord .absolute {
  position: absolute;
}
.products .content .flexBox .bord .floatIcon {
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
}
.products .content .flexBox .bord .floatIcon ul {
  margin: 0;
}
.products .content .flexBox .bord .floatIcon ul li {
  list-style: none;
}
.products .content .flexBox .bord .floatIcon ul li span {
  position: absolute;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  left: -130px;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  padding: 2.5px 0;
  opacity: 0;
  transition: 0.2s linear opacity;
}
.products .content .flexBox .bord .floatIcon ul li:not(:last-child) {
  margin-bottom: 20px;
}
.products .content .flexBox .bord .floatIcon ul li:hover i {
  color: #4db0e1;
}
.products .content .flexBox .bord .floatIcon ul li i {
  font-size: 18px;
  cursor: pointer;
}
.products .content .flexBox .bord .floatIcon ul li:hover span {
  opacity: 1;
}
.products .content .flexBox .bord .txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: relative;
}
.products .content .flexBox .bord .txt .prize {
  height: 20%;
}
.products .content .flexBox .bord .txt .prize h3 {
  font-size: 20px;
  color: #223441;
  margin: 0;
}
.products .content .flexBox .bord .txt .prize h3 span {
  display: block;
  margin-top: 5px;
}
.products .content .flexBox .bord .txt .stars {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.products .content .flexBox .bord .txt .stars i {
  color: #006ba6;
}
.products .content .flexBox .bord:hover .img img {
  transform: scale(1.05);
}
.products .content button {
  margin-top: 80px;
}

@media (max-width: 1200px) {
  .products .content .flexBox {
    gap: 60px 14px;
  }
  .products .content .flexBox .bord {
    width: 30%;
  }
}
@media (max-width: 992px) {
  .products .content .flexBox {
    width: 90%;
  }
  .products .content .flexBox .bord .txt .prize h3 {
    font-size: 17px;
  }
  .products .content .flexBox .bord .txt .stars i {
    font-size: 12px;
  }
  .products .content .flexBox .bord .floatIcon ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .products .content .flexBox .bord .floatIcon ul li i {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .products .content > .txt h2 {
    font-size: 27px;
  }
  .products .content .flexBox {
    width: 100%;
  }
  .products .content .flexBox .bord {
    width: 44%;
  }
}
@media (max-width: 576px) {
  .products .content > .txt h2 {
    text-align: center;
    font-size: 24px;
  }
  .products .content .flexBox {
    width: 80%;
    display: block;
  }
  .products .content .flexBox .slick-list {
    width: 100%;
    overflow: hidden;
  }
  .products .content .flexBox .slick-list .slick-track {
    display: flex;
  }
  .products .content .flexBox .slick-list .slick-track .bord {
    margin: 0 20px;
  }
  .products .content .flexBox .slick-list .slick-track .bord .txt {
    padding: 10px 0;
  }
}
.review {
  margin-top: 300px;
}
.review .content {
  display: flex;
  width: 100%;
}
.review .content > div {
  width: 50%;
}
.review .content .txt {
  padding-right: 50px;
}
.review .content .txt h1 {
  font-weight: bolder;
  text-transform: none;
  font-size: 35px;
}
.review .content .txt p {
  width: 85%;
  color: #777777;
  margin-bottom: 30px;
}
.review .content .slider {
  overflow: hidden;
}
.review .content .slider .slick-list .slick-track {
  display: flex;
  width: 100%;
}
.review .content .slider .bord h3 {
  font-size: 20px;
  font-weight: bolder;
  text-transform: none;
}
.review .content .slider .bord p {
  color: #777777;
  width: 90%;
}
.review .content .slider .bord .flex {
  display: flex;
}
.review .content .slider .bord .flex .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.review .content .slider .bord .flex .name {
  margin-top: 8px;
}
.review .content .slider .bord .flex .name h2 {
  font-size: 19px;
  font-weight: bolder;
  margin-bottom: 1px;
}
.review .content .slider .bord:hover {
  cursor: grab;
}
.review .content .slider .bord:active {
  cursor: grabbing;
}
.review .content .slider .slick-dots {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.review .content .slider .slick-dots button {
  display: none;
}
.review .content .slider .slick-dots li {
  width: 12px;
  height: 12px;
  background-color: #d4d4d4;
  border-radius: 50%;
  list-style: none;
  cursor: pointer;
  transition: 0.1s linear background-color;
}
.review .content .slider .slick-dots li:not(:last-child) {
  margin-right: 15px;
}
.review .content .slider .slick-dots li:hover {
  background-color: #afafaf;
}
.review .content .slider .slick-dots li.slick-active {
  background-color: #4db0e1;
}

@media (max-width: 992px) {
  .review {
    margin-top: 200px;
  }
  .review .row {
    justify-content: center;
  }
  .review .content {
    width: 90%;
  }
  .review .content .txt h1 {
    font-size: 25px;
  }
  .review .content .txt p {
    font-size: 14px;
  }
  .review .content .slider .bord p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .review {
    margin-top: 100px;
  }
  .review .content {
    width: 100%;
    flex-direction: column;
  }
  .review .content > div {
    width: 100%;
  }
  .review .content > div:not(:last-child) {
    margin-bottom: 50px;
  }
  .review .content .txt {
    padding: 0;
  }
  .review .content .txt p {
    width: 100%;
  }
  .review .content .slider {
    perspective: 600px;
  }
  .review .content .slider .bord {
    transform: scale(0.5);
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-property: transform, opacity;
  }
  .review .content .slider .bord p {
    width: 100%;
  }
  .review .content .slider .slick-current {
    transform: scale(1);
    opacity: 1;
  }
}
.doctor {
  margin-top: 300px;
}
.doctor .content {
  width: 100%;
}
.doctor .content > .txt {
  text-align: center;
  margin-bottom: 80px;
}
.doctor .content > .txt h1 {
  font-size: 35px;
  font-weight: bolder;
  text-transform: none;
  color: #223441;
  margin-bottom: 20px;
}
.doctor .content > .txt p {
  width: 45%;
  margin: auto;
  color: #777777;
}
.doctor .content .slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.doctor .content .slider .slick-list {
  overflow: hidden;
  width: 80%;
}
.doctor .content .slider .slick-list .slick-track {
  display: flex;
}
.doctor .content .slider .bord {
  position: relative;
}
.doctor .content .slider .bord:not(:last-child) {
  margin-right: 20px;
}
.doctor .content .slider .bord .txt {
  padding: 15px 10px;
}
.doctor .content .slider .bord .txt h3 {
  font-size: 21px;
  font-weight: bolder;
  color: #223441;
}
.doctor .content .slider .bord .txt p {
  color: #4db0e1;
  text-align: center;
}
.doctor .content .slider .bord .floatingIcons {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  border-radius: 30px;
  background-color: white;
  opacity: 0;
  transition: 0.2s linear opacity;
}
.doctor .content .slider .bord .floatingIcons i {
  cursor: pointer;
}
.doctor .content .slider .bord .floatingIcons i:hover {
  color: #4db0e1;
}
.doctor .content .slider .bord .floatingIcons i:not(:last-child) {
  margin-right: 15px;
}
.doctor .content .slider .bord:hover .floatingIcons {
  opacity: 1;
}
.doctor .content .slider .slick-arrow {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  background-color: #006ba6;
  transition: 0.2s ease background-color;
  margin: 0 20px;
}
.doctor .content .slider .slick-arrow:hover {
  background-color: #4db0e1;
}

@media (max-width: 992px) {
  .doctor {
    margin-top: 200px;
  }
  .doctor .content > .txt p {
    width: 70%;
  }
  .doctor .content .slider .slick-list .slick-track {
    gap: 0 50px;
  }
  .doctor .content .slider .bord:not(:last-child) {
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .doctor {
    margin-top: 100px;
  }
  .doctor .content .slider .slick-list {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .doctor .content > .txt h1 {
    font-size: 24px;
  }
  .doctor .content .slider .slick-list {
    width: 80%;
  }
}
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-image: url(../images/subscribe/subscribe.jpg);
  background-position: center;
  position: relative;
  color: white;
}
.subscribe .wave {
  height: 300px;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.subscribe .top {
  top: -1px;
  background-image: url(../images/subscribe/wave-1.png);
}
.subscribe .bot {
  bottom: -1px;
  background-image: url(../images/subscribe/wave-2.png);
}
.subscribe .floating-txt {
  position: absolute;
  background-image: url(../images/subscribe/txt.png);
  width: 550px;
  height: 100px;
  top: 33%;
}
.subscribe .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.subscribe .content h3 {
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
}
.subscribe .content p {
  width: 45%;
  text-align: center;
  font-size: 16px;
}
.subscribe .content form {
  position: relative;
  margin-top: 15px;
  width: 55%;
}
.subscribe .content form input {
  width: 100%;
  padding: 22px 140px 22px 20px;
  border-radius: 35px;
  border: none;
  outline: none;
}
.subscribe .content form button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 992px) {
  .subscribe .content p {
    width: 55%;
  }
  .subscribe .content form {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .subscribe {
    height: 800px;
  }
  .subscribe .wave {
    height: 100px;
  }
  .subscribe .content form {
    width: 90%;
  }
  .subscribe .floating-txt {
    top: 28%;
    width: 435px;
    height: 70px;
  }
}
@media (max-width: 576px) {
  .subscribe .content h3 {
    font-size: 23px;
  }
  .subscribe .content p {
    width: 100%;
  }
  .subscribe .floating-txt {
    width: 280px;
    height: 45px;
    top: 32%;
  }
}
.new .content > h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
}
.new .content > p {
  width: 40%;
  color: #777777;
  margin: 0 auto;
  text-align: center;
}
.new .content .flexBox {
  display: flex;
  gap: 0 30px;
  margin-top: 50px;
}
.new .content .flexBox .bord .img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.new .content .flexBox .bord .img img {
  transition: 0.6s ease-in-out transform;
}
.new .content .flexBox .bord .img:hover img {
  transform: scale(1.09);
}
.new .content .flexBox .bord .txt {
  padding: 15px 20px;
}
.new .content .flexBox .bord .txt span {
  color: #4db0e1;
  font-size: 14px;
}
.new .content .flexBox .bord .txt h3 {
  margin: 15px 0;
  color: #223441;
  font-weight: bolder;
  line-height: 1.4;
}
.new .content .flexBox .bord .txt p {
  color: #777777;
  font-size: 14px;
}
.new .content .flexBox .bord .txt button {
  border: none;
  outline: none;
  text-transform: capitalize;
}
.new .content .flexBox .bord .txt button i {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: white;
  background-color: #4db0e1;
  font-size: 8px;
  transition: 0.5s ease-in-out margin-left;
}
.new .content .flexBox .bord .txt button:hover i {
  margin-left: 15px;
}
.new .content .flexBox .bord .txt button:hover {
  color: #4db0e1;
}

@media (max-width: 1200px) {
  .new .content > p {
    width: 50%;
  }
  .new .content .flexBox {
    gap: 0 20px;
  }
  .new .content .flexBox .bord .txt h3 {
    font-size: 23px;
  }
}
@media (max-width: 992px) {
  .new .content .flexBox .bord .txt h3 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .new {
    margin-top: 100px;
  }
  .new .content > P {
    width: 90%;
  }
  .new .content .flexBox {
    flex-wrap: wrap;
    gap: 30px 0;
  }
}
