.partners {
    margin-top: 150px;
    .content {
        width: 100%;
        h3,p {
            text-align: center;
        }
        h3 {
            font-weight: bolder;
            font-size: 35px;
        }
        p {
            margin: auto;
            width: 40%;
            color: $gray-color;
        }
        .fleximgs {
            margin-top: 50px;
            display:flex;
            gap:0 30px;
            img {
                max-height: 60px;
                filter:grayscale(100%) opacity(0.4);
                transition: 0.2s ease-in-out filter;
            }
            .img:hover img {
                filter:grayscale(0%) opacity(1)
            }
        }
    }
}

//import responsive file
@import "partnersRes";