@media (max-width:1200px) {
    .about {
        .mid {
            .content {
                h1 {
                    width: 60%;
                }
                .section {
                    .img {
                        max-height: 400px;
                        width: 40%;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    .about {
        .top { 
            .content {
                .img {
                    width: 50%;
                    height: 300px;
                }
                .txt {
                    h1 {
                        font-size: 30px;
                    }
                }
            }
        }
        .mid {
            .content {
                h1 {
                    font-size: 33px;
                    width: 90%;
                }
                .section {
                    justify-content: space-between;
                    .txt {
                        width: 40%;
                        margin: 0;
                        .flexBox {
                            flex-wrap: nowrap;
                            flex-direction: column;
                            .bord {
                                width: 100%;
                                &:not(:last-child) {
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                    .img {
                        width: auto;
                        max-height: 450px;
                        align-self: center;
                    }
                }
            }
        }
        .bot {
            .content{
                h1 {
                    font-size: 40px;
                    text-align: center;
                }
                .flexContent {
                    width: 80%;
                    .flexIcons {
                        $height:120px;
                        .icon {
                            height: $height;
                            padding-top: $height / 6;
                            img {
                                width: 40px;
                                height: 40px;
                                margin-bottom: 15px;
                            }
                            p {
                                font-size: 14px;
                            }
                            &:nth-of-type(1) {
                                padding-top: 14px;
                                img {
                                    width: 35px;
                                    height: 45px;
                                }
                            }
                        }
                    }
                    .flexBox {
                        .bord {
                            .img {
                                max-height: 60%;
                            }
                            .txt {
                                align-self: stretch;
                                width: 70%;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media (max-width:768px) {
    .about {
        > div:not(:last-child) {
            margin-bottom: 150px;
        }
        .top {
            .content {
                flex-direction: column;
                align-items: center;
                .bord {
                    width: 100%;
                }
                .img {
                    height: 340px;
                    width:400px;
                    margin-bottom: 40px;
                }
                .txt {
                    padding: 0;
                    h1,p {
                        margin-bottom: 25px;
                    }
                }
            }
        }
        .mid {
            .content {
                .section {
                    flex-direction: column-reverse;
                    .img {
                        width: 450px;
                        margin-bottom: 60px;
                    }
                    .txt {
                        width: 100%;
                        .flexBox {
                            flex-wrap: wrap;
                            flex-direction: row;
                            .bord {
                                width: 45%;
                            }
                        }
                    }
                }
            }
        }
        .bot {
            .content {
                .flexContent {
                    width: 100%;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    margin-top: 60px;
                    .flexIcons {
                        flex-direction: column;
                        max-width: 150px;
                        margin: 0;
                        .icon  {
                            width: 100%;
                        }
                    }
                    .flexBox {
                        width: 60%;
                        height: auto;
                        .bord {
                            flex-direction: column;
                            height: auto;
                            align-items: center;
                            .img {
                                width: 45%;
                                height: auto;
                                margin-bottom: 50px;
                            }
                            .txt {
                                margin:0;
                                width: 100%;
                                p {
                                    font-size: 14px;
                                }
                                h3 {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    .about {
        .mid {
            .content {
                h1 {
                    width: 100%;
                    font-size: 28px;
                }
                .section {
                    .txt {
                        .flexBox {
                            flex-direction: column;
                            flex-wrap: nowrap;
                            .bord {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .bot {
            .content {
                h1 {
                    font-size: 28px;
                }
                > p {
                    width: 80%;
                }
                .flexContent{
                    justify-content:space-between;
                    min-height: 600px;
                    width: 80%;
                    .flexIcons {
                        width: 25%;
                        overflow:visible;
                        .icon {
                            height: 90px;
                            p {
                               display: none;
                            }
                        }
                    }
                    .flexBox {
                        .bord {
                            .img {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:420px) {
    .about {
        .top {
            .content {
                .img {
                    width: 100%;
                    height: auto;
                }
                .txt {
                    h1, p {
                        margin-bottom: 20px;
                    }
                    h1 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 13px;
                    }
                }
            }
        } 
        .bot .content .flexContent .flexIcons .icon img {
            width: 35px;
            height: 35px;
            margin-bottom: 15px;
        }
    }
}