@media (max-width:992px) {
    .about .content {
        align-items: center;
        .img {
            width: 50%;
            height: 300px;
        }
        .txt {
            h1 {
                font-size: 30px;
            }
        }
    }
}

@media (max-width:768px) {
    .about .content {
        flex-direction: column;
        .bord {
            width: 100%;
        }
        .img {
            height: 340px;
            width:400px;
            margin-bottom: 40px;
        }
        .txt {
            padding: 0;
            h1,p {
                margin-bottom: 25px;
            }
        }
    }
}

@media (max-width:420px) {
    .about .content {
        .img {
            width: 100%;
            height: auto;
        }
        .txt {
            h1, p {
                margin-bottom: 20px;
            }
            h1 {
                font-size: 25px;
            }
            p {
                font-size: 13px;
            }
        }
    }
}