.about
    //top article
    .top
        .container
            .row
                .content
                    .bord.img
                        img(src="images/about/top.png")
                    .bord.txt
                        h1 Clinika - Best Medical Clinic, Thousands of specialities for any type diagnostic.
                        p Aenean volutpat, sem sit amet ullamcoer gravida, molestie risus enim nulla. Pellentesqu velit faucibus kodale dolor rhoncu. Curabituring laciniam efficitur porttitor. Predefined chuniks.
                        button(class="main-btn transitioned-bg-color jost") browse through diagnostic
    //mid article

    //bot article