.partners
    .container
        .row
            .content
                .txt
                    h3.jost our brand partners
                    p A team of expert doctors that are leading our clinic! Meet our staff and visit us for your next problem!
                .flexImgs
                    -for (let i = 0; i <= 5; i++)
                        .img
                            img(src="images/partners/img"+(i + 1)+".png")