.subscribe.cover
    .wave.top
    .wave.bot
    .floating-txt.cover
    .container
        .row
            .content
                h3.jost subscribe now to our newsletter!
                p A team of expert doctors that are leading our clinic! Meet our staff and visit us for your next problem!
                form
                    input(type="email", placeholder="enter your email address...")
                    button.main-btn.transition-bg-color subscribe