// start sections

//start header section
include sections/header.pug
//end header section

//start about section
include sections/about.pug
//end about section

//start services section
include sections/services.pug
//end services section

// end sections