// start sections

//start header section
include sections/header.pug
//end header section

//start about section
include sections/about.pug
//end about section

//start services section
include sections/services.pug
//end services section

//start products section
include sections/products.pug
//end products section

//start FAQ section
include sections/review.pug
//end FAQ section

//start doctors section
include sections/doctors.pug
//end doctors section

//start subscribe section
include sections/subscribe.pug
//end subscribe section

//start new section
include sections/new.pug
//end new section
// end sections