@media (max-width:1200px) {
    header {
        nav {
            .row {
                justify-content: space-between;
                .content {
                    display: none;
                }
                .hid-icon {
                    display: block;
                }
            }
            
        }
        .header {
            .content {
                .txt {
                    h1 {
                        font-size: 40px;
                    }
                    p {
                        width: 80%;
                    }
                }
            }
        }
    }
}

@media (max-width:992px) {
    header{
        .header {
            height: 100%;
            .content{ 
                .txt {
                    padding: 0 0 150px 0;
                    width: 47%;
                }
                .img {
                    width: 100% - 47;
                }
            }
        }
    }
}

@media (max-width:768px) {
    header{
        min-height: 800px;
        .header {
            .content{
                flex-direction: column;
                margin-bottom: 75px;
                .bord {
                    width: 100%;
                }
                .txt {
                    padding: 0;
                }
                .img {
                    height: 407px;
                    width: 400px;
                    margin:auto;
                }
            }
            .wave {
                height: 170px;
            }
        }
    }
}

@media (max-width:420px) {
    header {
        min-height: 900px;
        .header {
            .content {
                margin-bottom: 60px;
                .txt {
                    margin-bottom: 30px;
                    h1 {
                        font-size: 35px;
                    }
                    p {
                        width: 100%;
                    }
                }
                .img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .aside-section {
            width: 230px;
            .wave {
                left: -130px;
            }
        }
    }
}